
.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	text-align:left;
	font-size:14px;
 }

.ff_elem{
	width: 100%;
}
body, .position {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.push-down{
	padding-top: 20px;
}
.start{
	align-items: flex-start !important;
}
body{
    height: 500px;
    background-image: url('public/images/initial.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#map{
  margin-top: 10px;	
  margin-bottom: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.size{
	width: 40%;
}
.color {
    color: #BBD7D9;
    background-color: #4A817F;
    filter: alpha(opacity=30);
    padding: 34px 34px 10px 34px;
    border-radius: 20px;
    border-color: orange;
    border-width: 1px;
    box-shadow: 5px 5px 19px #29454A;
}
@media only screen and (max-width : 990px) {
    #map{
     margin-top:0px;
   }
   .push-down{
   	  padding-top: 0px;
   }  
   #weatherInfo{
   	 font-size: 12px;
   }
   .size{
   	  width: 50%;
   }
}